.container {
  display: -ms-grid;
  display: grid;
  max-height: 4900px;
  margin: auto;
  grid-gap: 0.5vh 0.5vh;
  -ms-grid-rows: 0.15fr 0.5fr 0.5fr 0.5fr 0.4fr 0.4fr 0.4fr 0.2fr 1fr;
      grid-template-rows: 0.15fr 0.5fr 0.5fr 0.5fr 0.4fr 0.4fr 0.4fr 0.2fr 1fr;
}

.container .header {
  height: 14vh;
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .header .header1 {
  height: 7vh;
  z-index: 2;
  background-color: #000;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.container .header .header1 .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .header1 .links li {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2vw;
  font-family: SF;
  font-size: 2vh;
}

.container .header .header1 .links li a {
  text-decoration: none;
  color: #bebebe;
}

.container .header .header1 .links li a:hover {
  color: white;
}

.container .header .header2 {
  margin-top: 7vh;
  height: 7vh;
  background-color: #f5f5f7;
  width: 100%;
  text-align: center;
  font-family: SF;
  font-size: 2vh;
  color: #333333;
  padding: 1%;
}

.container .onePhoto {
  height: 75vw;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.container .onePhoto .href {
  display: block;
  height: 100%;
  max-height: 200px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.container .onePhoto .yazi {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "SF";
}

.container .onePhoto .yazi .yazi1 {
  text-align: center;
  font-family: "SF";
}

.container .onePhoto .yazi h1 {
  font-size: 8vh;
}

.container .onePhoto .yazi .yazi12 {
  font-size: 5vh;
}

.container .onePhoto .yazi p {
  font-size: 3vh;
  color: #86868b;
}

.container .onePhoto .yazi .span .yazispan {
  margin-left: 2vh;
}

.container .onePhoto .yazi .span a {
  text-decoration: none;
  font-size: 3vh;
  color: #0066cc;
}

.container .onePhoto .yazi .span a:hover {
  text-decoration: underline;
}

.container .onePhoto1 {
  background-image: url("../media/1-iphone_12_updated__jepm2xpxncuy_large.jpg");
}

.container .onePhoto2 {
  background-image: url("../media/2-iphone_12_pro_us__e5oyysg4k0ya_large.jpg");
}

.container .onePhoto2 .yazi {
  margin-top: 4vh;
}

.container .onePhoto3 {
  background-image: url("../media/3-hero_startframe__dbi4flqyio2u_large.jpg");
}

.container .onePhoto3 .yazi {
  margin-top: 40%;
}

.container .onePhoto3 .yazi a {
  text-decoration: none;
  color: #444444;
}

.container .twoPhoto {
  display: -ms-grid;
  display: grid;
  grid-gap: 1vh;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container .twoPhoto .middle {
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.container .twoPhoto .middle .href {
  display: block;
}

.container .twoPhoto .middle .yazi {
  display: block;
  text-align: center;
  margin-top: 5vh;
  font-family: SF;
  font-size: 2vh;
}

.container .twoPhoto .middle .yazi .span .yazispan {
  margin-left: 2vh;
}

.container .twoPhoto .middle .yazi .span a {
  text-decoration: none;
  font-size: 2.5vh;
  color: #0066cc;
}

.container .twoPhoto .middle .yazi .span a:hover {
  text-decoration: underline;
}

.container .twoPhoto .twoPhoto11 {
  background-image: url("../media/2-1_promo_ipad_pro_non_avail__c6f02v7gnwgi_large.jpg");
}

.container .twoPhoto .twoPhoto12 {
  background-image: url("../media/2-2_promo_imac__crg641tip4q6_large.jpg");
}

.container .twoPhoto .twoPhoto21 {
  background-image: url("../media/3-1_promo_watch_series_6_lte__f8lrasjnry2y_large.jpg");
}

.container .twoPhoto .twoPhoto22 {
  height: 550px;
  background-image: url("../media/3-2_tile__cauwwcyy9hy_large.jpg");
  background-position: bottom;
}

.container .twoPhoto .twoPhoto31 {
  background-image: url("../media/4-1_promo_bts__bg3cb4kaoqoi_large.jpg");
}

.container .twoPhoto .twoPhoto32 {
  background-image: url("../media/4-2_tile__cauwwcyyn9hy_large.jpg");
}

.container .footage1 .href {
  display: block;
  max-height: 75px;
  width: 100%;
}

.container .footage1 .yazi {
  display: block;
  width: 100%;
  position: absolute;
  padding: 5vh;
  font-family: "SF";
  text-align: center;
}

.container .footage1 .yazi .ftg2 {
  font-size: 2.5vh;
  text-align: center;
}

.container .footage1 .yazi .ftg3 {
  font-size: 2.5vh;
  text-decoration: none;
}

.container .footage2 {
  background-color: #f5f5f7;
  padding: 1vh 3vh;
}

.container .footage2 p {
  color: #86868b;
  font-size: 1.75vh;
  font-family: "SF";
}

.container .footage2 li {
  list-style: none;
}

.container .footage2 li a {
  text-decoration: none;
  color: #86868b;
}

.container .footage2 .altYzi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: SF;
  font-size: 1.6vh;
  margin-bottom: 2vh;
}

.container .footage2 .altYzi .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.container .footage2 .altYzi .son {
  display: block;
  text-align: end;
}

.container .footage2 .altYzi .son a {
  text-decoration: none;
}

.container .footage2 .altYzi .son a:hover {
  text-decoration: underline;
}

.container .footage2 .altYzi li {
  padding-left: 2.9vh;
  padding-right: 1.45vh;
  font-size: 1.6vh;
  font-family: SF;
  text-align: center;
  border-right: solid 1px #c7c6c6;
}

.container .footage2 .altYzi li a:hover {
  text-decoration: underline;
}

.container .links {
  padding-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container .links p {
  font-weight: bold;
  color: #1d1d1f;
  font-family: "SF";
}

.container .links ul {
  list-style-type: none;
  line-height: 25px;
}

.container .links ul a {
  text-decoration: none;
  color: #86868b;
  font-size: 12px;
  font-family: "SF";
}
/*# sourceMappingURL=tabletStyle.css.map */