.container {
    display: grid;
    max-height: 4900px;
    margin:auto;
    grid-gap: 0.5vh 0.5vh;
    grid-template-rows: 0.15fr 0.5fr 0.5fr 0.5fr 0.4fr 0.4fr 0.4fr 0.2fr 1fr;
  
    .header {
      height: 14vh;
      //height: 10px;
      //margin : 0px, 20px;
      width: 100%;
      //max-width: 1024px;
      display: block;
      display: flex;
  
      flex-direction:column;
      //position:fixed; top:0px; right: 0px; left:0px;
  
      .header1 {
        //height: 50%;
  
        height: 7vh;
        z-index: 2;
        background-color: #000;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        display: flex;
        //display: block;
        flex-direction: row;
        justify-content:space-evenly;
        width: 100%;
        //max-width: 1000px;
  
        .links {
          display: flex;
          padding-top: 0px;
          height: 100%;
          justify-content: center;
          align-items: center;
  
          li {
            list-style: none;
            justify-content: center;
            //align-items: center;
            //margin-top: 13px;
            padding-left: 2vw;
            font-family: SF;
            font-size: 2vh;
            a {
              text-decoration: none;
              color: #bebebe;
              //padding-left: 20px;
              &:hover {
                color: white;
              }
            }
          }
        }
     
      }
      .header2 {
        margin-top: 7vh;
        height: 7vh;
        background-color: #f5f5f7;
        //display: block;
        width: 100%;
        text-align: center;
        font-family: SF;
        font-size: 2vh;
        //line-height:21px;
        //height: 50%;
        color: #333333;
        padding:1%;
      }
    }
  
    .onePhoto {
      //background-color: #cccccc; /* Used if the image is unavailable */
      height: 75vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      //background-size: cover; /* Resize the background image to cover the entire container */
      .href {
        display: block;
        height: 100%;
        max-height: 200px;
  
        //height:600px;
        //width:1240px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
      }
      .yazi {
        display: block;
        width: 100%;
        position: absolute;
        //margin-top: 0px;
        
        
        text-align: center;
        font-family: "SF";
  
        //margin-left: 33%;
        .yazi1 {
          text-align: center;
          font-family: "SF";
        }
        h1 {
          font-size: 8vh;
        }
        .yazi12 {
          font-size: 5vh;
        }
        p {
          font-size:3vh;
          color: #86868b;
        }
        .span {
          .yazispan {
            margin-left: 2vh;
          }
          a {
            text-decoration: none;
            font-size: 3vh;
            color: #0066cc;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      // .href11{
      //     background-image: url("media/1-iphone_12_updated__jepm2xpxncuy_large.jpg");
      // }
      // .href12{
      //     background-image: url("media/2-iphone_12_pro_us__e5oyysg4k0ya_large.jpg");
      // }
    }
  
    .onePhoto1 {
      background-image: url("../media/1-iphone_12_updated__jepm2xpxncuy_large.jpg");
    }
    .onePhoto2 {
      background-image: url("../media/2-iphone_12_pro_us__e5oyysg4k0ya_large.jpg");
      .yazi {
        margin-top: 4vh;
      }
    }
    .onePhoto3 {
      background-image: url("../media/3-hero_startframe__dbi4flqyio2u_large.jpg");
      .yazi {
        margin-top: 40%;
        //text-align: center end;
        a {
          text-decoration: none;
          color: rgb(68, 68, 68);
        }
      }
    }
    .twoPhoto {
      //margin: 0vw 1vw;
      display: grid;
      grid-gap: 1vh;
      grid-template-columns: 1fr 1fr;
      .middle {
        //height: 500px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        //background-size: cover; /* Resize the background image to cover the entire container */
        .href {
          display: block;
          //height:500px;
        }
        .yazi {
          display: block;
          text-align: center;
          margin-top: 5vh;
          font-family: SF;
          font-size: 2vh;
          .span {
            .yazispan {
              margin-left: 2vh;
            }
            a {
              text-decoration: none;
              font-size: 2.5vh;
              color: #0066cc;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
  
      .twoPhoto11 {
        background-image: url("../media/2-1_promo_ipad_pro_non_avail__c6f02v7gnwgi_large.jpg");
      }
      .twoPhoto12 {
        background-image: url("../media/2-2_promo_imac__crg641tip4q6_large.jpg");
      }
      .twoPhoto21 {
        background-image: url("../media/3-1_promo_watch_series_6_lte__f8lrasjnry2y_large.jpg");
      }
      .twoPhoto22 {
        height: 550px;
        background-image: url("../media/3-2_tile__cauwwcyy9hy_large.jpg");
        background-position:bottom;
      }
      .twoPhoto31 {
        background-image: url("../media/4-1_promo_bts__bg3cb4kaoqoi_large.jpg");
      }
      .twoPhoto32 {
        background-image: url("../media/4-2_tile__cauwwcyyn9hy_large.jpg");
      }
    }
  
    .footage1 {
      //position: relative;
  
      //margin-bottom: 10px;
      //height: min-content;
      .href {
        display: block;
        //height: 15%;
        max-height: 75px;
        width: 100%;
        //background-color:crimson;
      }
      .yazi {
        display: block;
        width: 100%;
        position: absolute;
        padding: 5vh;
  
        //margin-top: 20px;
        font-family: "SF";
        text-align: center;
        .ftg2 {
          font-size: 2.5vh;
          text-align: center;
        }
        .ftg3 {
          font-size: 2.5vh;
          text-decoration: none;
        }
      }
    }
    .footage2 {
      background-color: #f5f5f7;
      padding: 1vh 3vh;
  
      p {
        color: #86868b;
        font-size: 1.75vh;
        font-family: "SF";
      }
      li {
        list-style: none;
  
        a {
          text-decoration: none;
          color: #86868b;
        }
      }
      .altYzi {
        display: flex;
        justify-content: space-between;
        font-family: SF;
        font-size: 1.6vh;
        margin-bottom: 2vh;
        .list {
          display: flex;
          justify-content:left;
        }
        .son {
          display: block;
  
          text-align: end;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        li {
          padding-left: 2.9vh;
          padding-right: 1.45vh;
          font-size: 1.6vh;
          font-family: SF;
          text-align: center;
          border-right: solid 1px rgb(199, 198, 198);
          a {
            //text-align: center;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .links {
      padding-top: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      p {
        font-weight: bold;
        color: #1d1d1f;
        font-family: "SF";
      }
      ul {
        list-style-type: none;
        line-height: 25px;
  
        a {
          text-decoration: none;
          color: #86868b;
          font-size: 12px;
          font-family: "SF";
        }
      }
    }
  }
  
  