.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.aTag {
  text-decoration: none;
  color: black;
}
.luTag {
  list-style-type: none;
}
.hoverOpcty {
  &:hover {
    opacity: 0.6;
  }
}
.bgColor {
  background-color: #f4f4f4;
  border-radius: 1.5rem;
  height: 100%;
  width: 100%;
}
.ImagesNote {
  text-align: center;
  width: 100%;
  //height:100%;
  //justify-content: center;
  margin: auto;
}
.alt {
  text-decoration: none;
}
.ghostButton {
  background-color: black;
  display: none;
  font-size: 0.75rem;
  color: white;
  width: 25%;
  padding: 0.5rem;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  margin: auto;
  a {
    h3 {
      text-decoration: none;
    }
  }
}
.foto-zoom {
  position: relative;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  &:hover {
    z-index: 2;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.bannerYazi {
  //margin-left: 60%;
  padding-top: 5%;
}
h1 {
  font-size: 2.5rem;
}
#h1 {
  margin-bottom: 2rem;
}

#bigOne {
  border-bottom: 2px solid black;
}
#smallOne {
  margin-left: 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.part1-2Yazi {
  margin: 2rem 0;

  text-align: center;
  h1 {
    font-size: 2rem;
  }
  ul {
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      padding-left: 2rem;
      //text-align: center;

      a {
        color: black;
      }
    }
  }
}
