.col-1  {   max-width: 8.33%;   }
.col-2  {   max-width: 16.66%;  }
.col-3  {   max-width: 25%;     }
.col-4  {   max-width: 33.33%;  }
.col-5  {   max-width: 41.66%;  }
.col-6  {   max-width: 50%;     }
.col-7  {   max-width: 58.33%;  }
.col-8  {   max-width: 66.66%;  }
.col-9  {   max-width: 75%;     }
.col-10 {   max-width: 83.33%;  }
.col-11 {   max-width: 91.66%;  }
.col-12 {   max-width: 100%;    }